<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error">
	<properties>
		<property name="LOG_HOME">./logs</property>
		<property name="FILE_NAME">server</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${LOG_HOME}/${FILE_NAME}.log"
			filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
		</RollingFile>
	</appenders>
	<loggers>
		<root level="error">
			<appender-ref ref="RollingFile" />
			<appender-ref ref="Console" />
		</root>
		<logger name="org.dataagg" level="info"></logger>
	</loggers>
</configuration>